<div style="text-align:center">
  <h1>
    {{title | uppercase}}
  </h1>
</div>
<div class="container">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td>uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice:3</td>
        <td>{{nombre | slice:3}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice:0:3</td>
        <td>{{nombre | slice:0:3}}</td>
      </tr>
      <tr>
        <td>Array : {{miArray}}</td>
        <td>slice:0:3</td>
        <td>{{miArray | slice:0:3}}</td>
      </tr>
      <tr>
        <td>Array : {{miArray}}</td>
        <td>*ngFor="let item of miArray | slice:3:10"</td>
        <td><ul>
          <li *ngFor="let item of miArray | slice:3:10">{{item}}</li>
        </ul></td>
      </tr>
      <tr>
        <td>{{enteroConDecimales}}</td>
        <td>number</td>
        <td>{{enteroConDecimales | number}}</td>
      </tr>
      <tr>
        <td>{{enteroConDecimales}}</td>
        <td>number:'3.1-5' ( tres enteros y mínimo un decimal, max. 5 decimales)</td>
        <td>{{enteroConDecimales | number:'3.1-5'}}</td>
      </tr>
      <tr>
        <td>{{enteroConDecimales}}</td>
        <td>percent (multiplica por 100 y añade '%')</td>
        <td>{{enteroConDecimales | percent}}</td>
      </tr>
      <tr>
        <td>{{enteroConDecimales}}</td>
        <td>percent:'3.1-5'</td>
        <td>{{enteroConDecimales | percent:'3.1-5'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR'</td>
        <td>{{salario | currency:'EUR' }}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':true</td>
        <td>{{salario | currency:'EUR':true }}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':true:'4.0-0'</td>
        <td>{{salario | currency:'EUR':true:'4.0-0' }}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>number</td>
        <td>{{salario | number}}</td>
      </tr>
      <tr>
        <td>persona (Un objeto json)</td>
        <td>json</td>
        <pre><td>{{persona | json}}</td></pre>
      </tr>
      <tr>
        <td>una promesa</td>
        <td>async (imprime los datos que devuelve una promesa al resolverse)</td>
        <td>{{promesa | async}}</td>
      </tr>
      <tr>
        <td>{{fecha}} (instancia de Date)</td>
        <td>date </td>
        <td>{{fecha | date}}</td>
      </tr>
      <tr>
        <td>{{fecha}} (instancia de Date)</td>
        <td>date:'d/MM/y'</td>
        <td>{{fecha | date:'d/MM/y'}}</td>
      </tr>
      <tr>
        <td>{{fecha}} (instancia de Date)</td>
        <td>date:'shortDate'</td>
        <td>{{fecha | date:'shortDate'}}</td>
      </tr>
      <tr>
        <td>{{fecha}} (instancia de Date)</td>
        <td>date:'medium'  (ver más en https://angular.io/api/common/DatePipe)</td>
        <td>{{fecha | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>

</div>

